.flex-container {
  display: flex;
}

.pokemons-grid-item {
  margin: 5px;
  background-color: rosybrown;
  color: black;
}

.gridlistmain {
  transform: "translateZ(0)";
}

.container{

}

.flex-container{
  display: flex;
  justify-content: center;
}

.characters{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  height: 95%;
  justify-content: space-evenly;
}
.navigation-panel{
 display: flex;
 justify-content: center;
}

body{
  background-color: grey;
  box-sizing: border-box;
}

.custom-btn{
  color: #fff !important;
  background-color: #198754 !important;
  border-color: #198754 !important;
  margin: 10px !important;
}

@media only screen and (max-width: 1170px) and (min-width: 870px)  {

  .characters{
    width: 70%;
  }

}

@media only screen and (max-width: 2351px) and (min-width: 1735px)  {

  .characters{
    width: 70%;
  }

}

@media only screen and (max-width: 2530px) and (min-width: 2351px)  {

  .characters{
    width: 65%;
  }

}

@media only screen and (max-width: 2725px) and (min-width: 2530px)  {

  .characters{
    width: 60%;
  }
}